/* Modernist theme by Steve Smith - https://github.com/orderedlist */
/* Modified rather heavily by Jake Hartz */

/* Vendor prefixes in this file (in addition to the unprefixed version)
    border-radius: -webkit, -moz
    box-shadow: -webkit, -moz
    transition: -webkit, -moz, -o
    linear-gradient: -webkit, -moz, -o, -ms
    calc: -webkit, -moz
*/

@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html {
    min-height: 100%;
}

body {
    background-color: #434b55;
    background-attachment: fixed;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #434b55), color-stop(100%, #6c7989));
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), -webkit-linear-gradient(#434b55, #6c7989);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), -moz-linear-gradient(#434b55, #6c7989);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), -o-linear-gradient(#434b55, #6c7989);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), -ms-linear-gradient(#434b55, #6c7989);
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAeCAYAAABNChwpAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAUdEVYdENyZWF0aW9uIFRpbWUAMy82LzEygrTcTAAAAFRJREFUSIljfPDggZRf5RIGGNjUHsNATz6jXmSL1Kb2GLiAX+USBnrymRgGGDCORgFmoNAXjEbBaBSMRsFoFIxGwWgUjEbBaBSMRsFoFIxGwWgUAABYNujumib3wAAAAABJRU5ErkJggg=='), linear-gradient(#434b55, #6c7989);
    padding: 30px 0;
    margin: 0;
    font: 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3f3d3d;
    font-weight: 300;
}

.wrapper {
    min-width: 640px;
    max-width: 1100px;
    width: auto;
    width: -webkit-calc(100% - 60px);
    width: -moz-calc(100% - 60px);
    width: calc(100% - 60px);
    margin: 0 auto;
    
    background-color: #dedede;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 0 1px, rgba(0, 0, 0, 0.45) 0 3px 10px;
}

header, section {
    display: block;
}

.fakelink {
    cursor: pointer;
}

a, .fakelink {
    color: #069;
    text-decoration: none;
    -webkit-transition: text-shadow 0.1s;
    -moz-transition: text-shadow 0.1s;
    -o-transition: text-shadow 0.1s;
    transition: text-shadow 0.1s;
}

a:hover, .fakelink:hover {
    text-shadow: 0 0 1px rgba(0,102,153,.6);
}

p {
    margin: 0 0 20px;
    padding: 0;
}

strong {
    color: #222;
    font-weight: 700;
}

header {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    background-color: #434b55;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6c7989), color-stop(100%, #434b55));
    background-image: -webkit-linear-gradient(#6c7989, #434b55);
    background-image: -moz-linear-gradient(#6c7989, #434b55);
    background-image: -o-linear-gradient(#6c7989, #434b55);
    background-image: -ms-linear-gradient(#6c7989, #434b55);
    background-image: linear-gradient(#6c7989, #434b55);
    position: relative;
    padding: 15px 20px;
    border-bottom: 1px solid #3f3d3d;
}
header a:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9), 1px 1px 3px rgba(255, 255, 255, 0.2);
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: 28px;
    line-height: 1.2;
    color: #fafafa;
    text-shadow: rgba(0, 0, 0, 0.9) 0 1px 0;
}
header.without-description h1 {
    margin: 10px 0;
}
header p {
    margin: 0;
    color: #fafafa;
    width: 300px;
}
header a {
    color: #fafafa;
}

header ul {
    float: right;
}
header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header ul li {
    display: inline;
}
header ul li:before {
    content: "\0020 \00B7 \0020";
    font-size: inherit;
}
header ul li:before {
    color: #fafafa;
}
header ul li:first-child:before {
    content: none;
}

section {
    padding: 15px 20px;
    font-size: 15px;
    border-top: 1px solid #fff;
    background-color: #fafafa;
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    position: relative;
}

div.sidebar + section {
    margin-left: 300px;
}

div.sidebar {
    position: fixed;
    width: 280px;
    padding: 10px;
    overflow: auto;
    max-height: -webkit-calc(100% - 135px);
    max-height: -moz-calc(100% - 135px);
    max-height: calc(100% - 135px);
    background-color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    padding: 0;
    margin: 20px 0;
    line-height: 1.2;
}

p, ul, ol, table, pre, dl {
    margin: 0 0 20px;
}

h1, h2, h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
}

h2 {
    color: #393939;
}

h3, h4, h5, h6 {
    color: #494949;
}

blockquote {
    margin: 0 -20px 20px;
    padding: 15px 20px 15px 40px;
    font-style: italic;
    background: #ccc;
    background: rgba(0, 0, 0, 0.06);
    color: #222;
}

img {
    max-width:100%;
}

code, pre {
    font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
    color: #333;
    font-size: 12px;
}

pre {
    padding: 20px;
    background-color: #3A3C42;
    color: #f8f8f2;
    margin: 0 -20px 20px;
    overflow-x:auto;
}
pre code {
    color: #f8f8f2;
}
li pre {
    margin-left: -60px;
    padding-left: 60px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #aaa;
    vertical-align: top;
}

dt {
    color: #222;
    font-weight: 700;
}

th {
    color: #222;
}

small {
    font-size: 11px;
}

hr {
    border: 0;
    background-color: #aaa;
    height: 1px;
    margin: 0 0 20px;
}

aside {
     background-color: #fff;
     -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
     border-radius: 12px;
     border: 1px solid white;
     -webkit-box-shadow: 1px 1px 6px #6c7989;
     -moz-box-shadow: 1px 1px 6px #6c7989;
     box-shadow: 1px 1px 6px #6c7989;
     clear: both;
     display: block;
     float: right;
     margin: 0 0 15px 15px;
     max-width: 27%;
     padding: 7px 7px 0;
}
aside.limitless {
    max-width: none;
}
aside small {
     font-style: italic;
     white-space: nowrap;
}
aside h3, aside h4, aside h5, aside h6 {
     text-align: center;
}
aside ul {
     padding-left: 20px;
}
aside ul li {
     font-size: 93%;
     padding-bottom: 5px;
}
aside ul li:last {
    padding-bottom: 0;
}

@media print, screen and (max-width: 740px) {
    body {
        padding: 0;
    }

    .wrapper {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        min-width: 0;
        max-width: none;
    }
    
    header {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    
    aside {
        float: none;
        max-width: none;
    }
    
    div.sidebar + section {
        margin-left: 0;
    }
    div.sidebar {
        position: static;
        height: auto;
    }
}
@media print, screen and (max-width:580px) {
    aside {
        display: none;
    }
    
    header ul {
        float: none;
    }
    header ul li {
        display: block;
        font-size: 16px;
    }
    header ul li:before {
        content: none;
    }

    header p {
        width: 100%;
    }
    
    .nomobile {
        display: none;
    }
}

@media print {
    html, body, .wrapper, header, section {
        background-image: none;
        background-color: transparent;
    }

    .noprint {
        display: none;
    }
}
