---
# NOTE: Don't forget to update 404.html when you change the general HTML layout!
---
<!DOCTYPE html>
<!-- Modernist theme by Steve Smith - https://github.com/orderedlist -->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}SerGIS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>

<body>
<div class="wrapper">
  <header>
    <h1><a href="/">SerGIS Project</a></h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/docs/">Docs</a></li>
        <li><a href="https://github.com/sergisproject/sergis-client">SerGIS Client on GitHub</a></li>
        <li><a href="https://github.com/sergisproject">SerGIS Project on GitHub</a></li>
    </ul>
    <p>A web-based system for "serious" GIS games</p>
  </header>
  <section>
{{ content }}
  </section>
</div>
</body>
</html>
